*.rds filter=lfs diff=lfs merge=lfs -text
costs/data/*.rds filter=lfs diff=lfs merge=lfs -text
costs/triploid_mum_prob/data/_counts_1.rds filter=lfs diff=lfs merge=lfs -text
costs/uneven_matching_prob/data/_counts_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_1.0_disturbance_010_10.rds filter=lfs diff=lfs merge=lfs -text
benefits/selfing_polyploid_prob/data/selfing_1.0_disturbance_100_pollen_09_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/inbreeding_cost/data/inbreeding_0.5_disturbance_000_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/inbreeding_cost/data/inbreeding_0.5_disturbance_010_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_0.0_disturbance_000_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_0.0_disturbance_010_10.rds filter=lfs diff=lfs merge=lfs -text
benefits/inbreeding_cost/data/inbreeding_1.0_disturbance_100_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_0.0_disturbance_025_10.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_1.0_disturbance_025_10.rds filter=lfs diff=lfs merge=lfs -text
benefits/selfing_polyploid_prob/data/selfing_1.0_disturbance_025_pollen_29_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/inbreeding_cost/data/_counts_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_1.0_disturbance_050_4.rds filter=lfs diff=lfs merge=lfs -text
benefits/selfing_polyploid_prob/data/selfing_0.0_disturbance_100_pollen_29_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/selfing_polyploid_prob/data/selfing_1.0_disturbance_010_pollen_91.rds filter=lfs diff=lfs merge=lfs -text
benefits/inbreeding_cost/data/inbreeding_0.0_disturbance_025_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_0.5_disturbance_050_4.rds filter=lfs diff=lfs merge=lfs -text
benefits/inbreeding_cost/data/inbreeding_1.0_disturbance_000_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/inbreeding_cost/data/inbreeding_1.0_disturbance_010_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_0.0_disturbance_025_4.rds filter=lfs diff=lfs merge=lfs -text
benefits/selfing_polyploid_prob/data/_counts_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/selfing_polyploid_prob/data/selfing_0.0_disturbance_010_pollen_29_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/inbreeding_cost/data/inbreeding_0.5_disturbance_025_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/selfing_polyploid_prob/data/selfing_1.0_disturbance_010_pollen_9_10.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_0.5_disturbance_025_10.rds filter=lfs diff=lfs merge=lfs -text
benefits/selfing_polyploid_prob/data/selfing_0.0_disturbance_000_pollen_29_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_0.5_disturbance_025_4.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_1.0_disturbance_025_4.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_0.0_disturbance_050_4.rds filter=lfs diff=lfs merge=lfs -text
benefits/inbreeding_cost/data/inbreeding_1.0_disturbance_025_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_0.5_disturbance_000_4.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_0.5_disturbance_010_4.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_1.0_disturbance_000_4.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_1.0_disturbance_010_4.rds filter=lfs diff=lfs merge=lfs -text
benefits/inbreeding_cost/data/inbreeding_0.0_disturbance_000_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/inbreeding_cost/data/inbreeding_0.0_disturbance_010_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/inbreeding_cost/data/inbreeding_0.0_disturbance_050_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/selfing_polyploid_prob/data/selfing_0.0_disturbance_025_pollen_29_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/selfing_polyploid_prob/data/selfing_1.0_disturbance_100_pollen_19_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/inbreeding_cost/data/inbreeding_0.0_disturbance_100_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_0.5_disturbance_010_10.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_0.0_disturbance_100_4.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_0.5_disturbance_000_5.rds filter=lfs diff=lfs merge=lfs -text
benefits/selfing_polyploid_prob/data/selfing_1.0_disturbance_100_pollen_29_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_0.0_disturbance_010_4.rds filter=lfs diff=lfs merge=lfs -text
benefits/selfing_polyploid_prob/data/selfing_1.0_disturbance_000_pollen_29_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/inbreeding_cost/data/inbreeding_0.5_disturbance_100_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/_counts_4.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_0.0_disturbance_000_4.rds filter=lfs diff=lfs merge=lfs -text
benefits/selfing_polyploid_prob/data/selfing_1.0_disturbance_010_pollen_19_10.rds filter=lfs diff=lfs merge=lfs -text
benefits/selfing_polyploid_prob/data/selfing_1.0_disturbance_010_pollen_29_1.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_1.0_disturbance_100_4.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_0.0_disturbance_000_5.rds filter=lfs diff=lfs merge=lfs -text
benefits/ploidy_growth_benefit/data/growth-benefit_0.5_disturbance_100_4.rds filter=lfs diff=lfs merge=lfs -text
